* {
    margin: 0;
    padding: 0;
}
.item-menu a{
    color: #FFFFFF !important;
    font-weight: bold;
}
.item-menu a:hover{
    color: #165482 !important;
}
.img-home {
    background-image: url("../img/personal.jpg");
    width: 420px;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.description-home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}
.area-description {
    padding: 10px;
    border: 1px solid #bbc8d2;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #888888;
}
.area-description ul {
    list-style: none;
}
.area-description ul li {
    margin: 10px 0;
}
.area-description-social {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.area-description-social ul {
    list-style: none;
}
.area-description-social ul li{
    display: inline;
    margin: 0 20px;
}

.area-description-social ul li a{
    color: #347dbe;
    font-size: 26px;
}
.progress-bar {
    background-color: #347dbe!important;
}